.document-content {
  -fx-fill: rgb(0, 0, 0);
}

.error{
  -fx-border-color: red;
  -fx-border-width: 2px;
}

.highlight {
  -fx-font-weight: bold;
}

.matches-box {
  -fx-border-color: rgb(233, 233, 233);
  -fx-border-width: 1.5px;
  -fx-padding: 10px;
}


/* region notification */

.notification-bar > .pane {
  -fx-max-width: 50;
  -fx-min-width: 50;
  -fx-pref-width: 50;
  -fx-padding: 10 10 10 10;
  -fx-background-color: white;
  -fx-border-color: #e9e9e9;
}

.notification-bar > .pane .title {
  -fx-font-weight: bold;
}

.notification-bar > .pane .label {
  -fx-alignment: top-left;
  -fx-wrap-text: true;
}

/*endregion*/


