.document-content {
  -fx-fill: rgb(255, 255, 255);
}

.highlight {
  -fx-font-weight: bold;
}

.matches-box {
  -fx-border-color: rgb(23, 23, 23);
  -fx-border-width: 1.5px;
  -fx-padding: 10px;
}

/* region textfield */

.text-field:focused {
  -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, black;
  -fx-text-fill: white;
}

.text-field > .right-button {
  -fx-background-color: black;
}

/*endregion textfield*/

/* region notification */

.notification-bar > .pane {
  -fx-max-width: 50;
  -fx-min-width: 50;
  -fx-pref-width: 50;
  -fx-background-color: #333;
  -fx-border-color: #171717;
  -fx-padding: 10 10 10 10;
}

.notification-bar > .pane .title {
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.notification-bar > .pane .label {
  -fx-alignment: top-left;
  -fx-text-fill: white;
  -fx-wrap-text: true;
}

/*endregion*/
